html, body {
	background-color: #000000;
	color:#CCCCCC;
	height:100%;
}

#header {
	border-bottom: 1px dashed gray;
}

#roomList {
	border-right: 1px dashed gray;
	padding: 1rem;
	height:100%;
}

.roomOption {
	cursor: pointer;
}

.roomOption:hover {
	font-weight: bold;
}


.container-fluid {
    height:100%;
}

.fill{
  height:100%;
  min-height:100%;
}
